# Hexo Configuration
## Docs: https://hexo.io/docs/configuration.html
## Source: https://github.com/hexojs/hexo/

# Site
title: 随遇而安
subtitle: 在自由的空气中漂浮
description: 生活吐槽 & 学习记录
keywords: 随遇而安, Dirge, iszy
author: Dirge
language: zh-CN
timezone: "Asia/Shanghai"

# URL
## Set your site url here. For example, if you use GitHub Page, set url as 'https://username.github.io/project'
url: https://www.iszy.cc
permalink: posts/:title/
permalink_defaults:
pretty_urls:
  trailing_index: false # Set to false to remove trailing 'index.html' from permalinks
  trailing_html: false # Set to false to remove trailing '.html' from permalinks

# Directory
source_dir: source
public_dir: public
tag_dir: tags
archive_dir: archives
category_dir: categories
code_dir: downloads/code
i18n_dir: :lang
skip_render:
  - _rubbish/**/*
  - README.md
  - manifest.json

# Writing
new_post_name: :title.md # File name of new posts
default_layout: post
titlecase: false # Transform title into titlecase
external_link:
  enable: true # Open external links in new tab
  field: site # Apply to the whole site
  exclude: ""
filename_case: 0
render_drafts: false
post_asset_folder: false
relative_link: false
future: true
syntax_highlighter: highlight.js
highlight:
  auto_detect: false
  line_number: true
  line_threshold: 0
  tab_replace: ""
  wrap: true
  hljs: false
prismjs:
  preprocess: true
  line_number: true
  line_threshold: 0
  tab_replace: ""

# Home page setting
# path: Root path for your blogs index page. (default = '')
# per_page: Posts displayed per page. (0 = disable pagination)
# order_by: Posts order. (Order by date descending by default)
index_generator:
  path: ""
  per_page: 10
  order_by: -date

# Category & Tag
default_category: uncategorized
category_map:
tag_map:

# Metadata elements
## https://developer.mozilla.org/en-US/docs/Web/HTML/Element/meta
meta_generator: true

# Date / Time format
## Hexo uses Moment.js to parse and display date
## You can customize the date format as defined in
## http://momentjs.com/docs/#/displaying/format/
date_format: YYYY-MM-DD
time_format: HH:mm:ss
## updated_option supports 'mtime', 'date', 'empty'
updated_option: "date"

# Pagination
## Set per_page to 0 to disable pagination
per_page: 10
pagination_dir: page

# Include / Exclude file(s)
## include:/exclude: options only apply to the 'source/' folder
include:
exclude:
ignore:

# Extensions
## Plugins: https://hexo.io/plugins/
## Themes: https://hexo.io/themes/
theme: next

# Deployment
## Docs: https://hexo.io/docs/one-command-deployment
deploy:
  type: ""

symbols_count_time:
  symbols: true
  time: true
  total_symbols: true
  total_time: true
  exclude_codeblock: false
  awl: 2
  wpm: 275
  suffix: "mins."

# Local Search
search:
  path: search.xml
  field: post
  content: true
  format: html

# 站点地图
sitemap:
  path: sitemap.xml
  template: ./sitemap_template.xml
  rel: false
  tags: true
  categories: false

# config of hexo-renderer-markdown-it
markdown:
  plugins:
    - markdown-it-katex

algolia:
  appId: "1UJ2W38EIN"
  apiKey: "c0cf4d0a9659a45dd3a38becbe6b6f73"
  indexName: "iszy_blog"
  chunkSize: 5000
  fields:
    - content:strip
    - excerpt:strip
    - gallery
    - permalink
    - photos
    - slug
    - tags
    - categories
    - title

# Waline Config File
# For more information:
# - https://waline.js.org
# - https://waline.js.org/reference/component.html
waline:
  # New! Whether enable this plugin
  enable: true

  # Waline server address url, you should set this to your own link
  serverURL: https://wl.iszy.xyz # Waline server address url

  # Waline library CDN url, you can set this to your preferred CDN
  libUrl: https://cdn.owooo.cc/jsd/npm/@waline/client@v3/dist/waline.umd.js

  # Waline CSS styles CDN url, you can set this to your preferred CDN
  cssUrl: https://cdn.owooo.cc/jsd/npm/@waline/client@v3/dist/waline.css

  # Custom locales
  locale:
    placeholder: |-
      本站支持匿名评论，无需登录~(●'◡'●)
      与文章无关的留言请前往本站留言板，谢谢配合~

  # If false, comment count will only be displayed in post page, not in home page
  commentCount: false

  # Pageviews count, Note: You should not enable both `waline.pageview` and `leancloud_visitors`.
  pageview: true

  # Custom emoji
  emoji:
    - https://cdn.owooo.cc/jsd/npm/@waline/emojis@1.1.0/bilibili
    - https://cdn.owooo.cc/jsd/npm/@waline/emojis@1.1.0/weibo
    - https://cdn.owooo.cc/jsd/npm/@waline/emojis@1.1.0/alus
    - https://cdn.owooo.cc/jsd/npm/@waline/emojis@1.1.0/qq
    - https://cdn.owooo.cc/jsd/npm/@waline/emojis@1.1.0/tieba
    - https://cdn.owooo.cc/jsd/npm/@waline/emojis@1.1.0/tw-emoji

  # Comment information, valid meta are nick, mail and link
  meta:
    - nick
    - mail
  #   - link

  # Set required meta field, e.g.: [nick] | [nick, mail]
  requiredMeta:
    - nick

  # Language, available values: en-US, zh-CN, zh-TW, pt-BR, ru-RU, jp-JP, fr-FR
  lang: zh-CN

  # Word limit, no limit when setting to 0
  wordLimit: 0

  # Whether enable login, can choose from 'enable', 'disable' and 'force'
  login: enable

  # comment per page
  pageSize: 10

  dark: "auto"
