@media (prefers-color-scheme: dark) {
	.v[data-class=v] .status-bar, .v[data-class=v] .veditor, .v[data-class=v] .vinput, .v[data-class=v] p, .v[data-class=v] pre code {
		color: #b2b2b5 !important;
	}

	.v[data-class=v] .vsys, .v[data-class=v] .vtime {
		color: #929298 !important;
	}

	.v[data-class=v] code, .v[data-class=v] pre, .v[data-class=v] pre code {
		color: #929298 !important;
		background-color: #151414 !important;
	}

	.v[data-class=v] .vwrap {
		border-color: #b2b2b5 !important;
	}

	.v[data-class=v] .vicon {
		fill: #b2b2b5 !important;
	}

	.v[data-class=v] .vicon.actived {
		fill: #66b1ff !important;
	}

	.v[data-class=v] .vbtn {
		color: #b2b2b5 !important;
		border-color: #b2b2b5 !important;
	}

	.v[data-class=v] .vbtn:hover {
		color: #66b1ff !important;
		border-color: #66b1ff !important;
	}

	.v[data-class=v] a:hover {
		color: #d7191a !important;
	}

	.v[data-class=v] .vcards .vcard .vcontent.expand:before {
		background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.3)), to(rgba(0, 0, 0, 0.7))) !important;
		background: linear-gradient(180deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.7)) !important;
	}

	.v[data-class=v] .vcards .vcard .vcontent.expand:after {
		background: rgba(0, 0, 0, 0.7) !important;
	}
}

#links {
	.links-content {
		margin-top: 1rem;
	}

	.link-navigation {
		display: flex;
		flex-flow: row wrap;
		justify-content: space-between;
	}

	.card {
		// width: 300px;
		font-size: 1.1em;
		padding: 10px 20px;
		border-radius: 4px;
		transition-duration: 0.15s;
		margin-bottom: 1rem;
		display: flex;
		flex-basis: 200px;
		flex-grow: 1;

		&:hover {
			transform: scale(1.1);
			box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.12), 0 0 6px 0 rgba(0, 0, 0, 0.04);
			// background: rgba(68, 68, 68, 0.12)
		}

		a {
			border: none;
		}

		.ava {
			width: 3rem !important;
			height: 3rem !important;
			margin: 0 !important;
			margin-right: 1em !important;
			border-radius: 50%;
			transition: transform 1s ease-out;
		}

		.card-header {
			font-style: italic;
			overflow: hidden;
			width: 236px;

			a {
				font-style: normal;
				color: #2bbc8a;
				font-weight: bold;
				text-decoration: none;

				&:hover {
					color: #d480aa;
					text-decoration: none;
				}
			}

			.info {
				font-style: normal;
				color: #a3a3a3;
				font-size: 14px;
				min-width: 0;
				text-overflow: ellipsis;
				overflow: hidden;
				white-space: nowrap;
			}
		}
	}

	span.focus-links {
		vertical-align: 1px;
		font-style: normal;
		margin-left: 10px;
		position: unset;
		left: 0;
		padding: 0 7px 0 5px;
		font-size: 11px;
		border-color: #42c02e;
		border-radius: 40px;
		line-height: 24px;
		height: 24px;
		color: #fff !important;
		background-color: #2bbc8a;
		display: inline-block;

		&:hover {
			background-color: #318024;
		}
	}
}

#diaries {
	display: flex;
	flex-flow: row wrap;
	justify-content: flex-start;
	align-items: flex-start;
	margin-right: -1rem;

	.diary {
		font-size: 1.1em;
		border-radius: 4px;
		border: 1px solid #666666;
		transition-duration: 0.15s;
		margin-bottom: 1rem;
		margin-right: 1rem;

		@media screen and (min-width: 1200px) {
			width: 25%;
		}

		@media screen and (min-width: 992px) {
			width: 30%;
		}

		@media screen and (min-width: 768px) {
			width: 50%;
		}

		@media screen and (min-width: 480px) {
			width: 100%;
		}

		&.show {
			.diary-content-wrapper {
				height: 84px;
				overflow: hidden;
				display: -webkit-box;
				-webkit-box-orient: vertical;
				-webkit-line-clamp: 3;
			}
		}

		.diary-time {
			padding: 0px 8px;
			border-bottom: 1px solid #666666;
			font-size: 16px;
			user-select: none;
		}

		.diary-content {
			padding: 8px;
			font-size: 20px;
			line-height: 28px;
		}
	}
}