body,
.site-title,
h1,
h2,
h3,
h4,
h5,
h6,
.post-body {
  font-family: Amstelvar, "Noto Serif SC", "PingFang SC", "Microsoft YaHei",
    sans-serif;
}

#valine-comments .vsys {
  display: none !important;
}
